:root {
  /* colors */
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #dddddd;
  --clr-neutral-300: #9fb8ad;
  --clr-neutral-400: #444444;

  --clr-primary-400: #82a8a4;
  --clr-primary-600: #51869a;
  --clr-primary-700: #485f88;

  /* font family */
  --ff-base: "Rubik", sans-serif;

  /* font sizes */
  --fs-200: 0.875rem;
  --fs-400: 1.125rem;
  --fs-700: 1.5rem;

  /* font weight */
  --fw-300: 300;
  --fw-500: 500;

  /* misc */
  --spacer: 1rem;
  --box-shadow: -5px 5px 10px rgba(145, 145, 145, 0.2);
  --toggle-ht: 1.875rem;
  --toggle-wd: 3.75rem;
}

/*********/
/* reset */
/*********/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
fieldset {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right top,
    #485f88,
    #46678d,
    #466e91,
    #477694,
    #4a7d97,
    #508599,
    #578c9b,
    #60939d,
    #6e9da0,
    #7ea6a3,
    #8eafa7,
    #9fb8ad
  );
  min-height: 100vh;
  font-family: var(--ff-base);
  font-size: var(--fs-300);
  line-height: 1.3;
  color: var(--clr-neutral-400);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > * {
  margin-top: 1.5rem;
}

/*******************/
/* utility classes */
/*******************/

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

.text-shadow {
  /* brb */
}

.bg-400 {
  --bg: var(--clr-primary-400);
}

.bg-600 {
  --bg: var(--clr-primary-600);
}

.bg-700 {
  --bg: var(--clr-primary-700);
}

/******************/
/* general layout */
/******************/

.container {
  --flow-spacer: 1.5rem;
  width: 100%;
  padding: 3rem 1.5rem;
  background: var(--clr-neutral-100);
}

.container > div,
.title {
  text-align: center;
}

.output {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.output > div {
  flex-basis: 100%;
}

@media (min-width: 40rem) {
  .container {
    width: min(50%, 45rem);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
  }
}

@media (min-width: 62.5rem) {
  .output {
    /* max-width: 100%; */
    flex-direction: row;
  }
}

footer {
  padding: 0 2rem;
}

.preview {
  width: 100%;
  height: 5rem;
  outline: var(--clr-primary-600) 1px dashed;
  background-color: var(--clr-primary-600);
}

/*******************/
/* general styling */
/*******************/

h1 {
  font-size: var(--fs-700);
}

label,
.output-title {
  font-weight: var(--fw-500);
  font-size: var(--fs-200);
  color: var(--fg, var(--clr-neutral-100));
  background-color: var(--bg, var(--clr-primary-400));
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  padding: 0.5rem 0;
  border-radius: 1rem;
}

a {
  text-decoration: none;
  font-weight: var(--fw-700);
  color: var(--clr-neutral-100);
  border-bottom: 1px solid var(--clr-neutral-100);
  transition: color 300ms ease;
}

a:hover,
a:focus {
  color: var(--clr-primary-400);
}

input {
  border: none;
  border-bottom: 3px solid var(--clr-neutral-200);
  padding: 0.5rem 0;
  font-size: inherit;
  text-align: center;
}

.toggle-text {
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  display: inline;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle-btn {
  height: var(--toggle-ht);
  width: var(--toggle-wd);
  background: var(--clr-primary-400);
  border-radius: var(--toggle-ht);
  padding: calc(1rem / 4);
  margin: 0 0.5rem;
}

.inner-circle {
  width: calc(var(--toggle-ht) - 0.5rem);
  height: calc(var(--toggle-ht) - 0.5rem);
  background-color: var(--clr-neutral-100);
  border-radius: 50%;
}

footer {
  font-size: var(--fs-200);
  font-weight: var(--fw-300);
  color: var(--clr-neutral-100);
  text-align: center;
}
